# DATA STRUCTURES AND OBJECTS

In [1]:
a=10
type(a)

int

In [2]:
b=1.4
c=2.2
b+c

3.6

In [3]:
type(c)

float

In [4]:
a=10
b=15
a+b

25

In [10]:
name1="ashmitha"
name2="pasanna"
name1
name2

'pasanna'

In [12]:
name1+name2

'ashmithapasanna'

In [13]:
type(name1)
type(name2)

str

# List

In [14]:
lst=["ashmitha","pasanna",1,2,3.4]
lst

['ashmitha', 'pasanna', 1, 2, 3.4]

In [16]:
lst=["ashmitha","pasanna",1,2,3.4,[5,6,7]]
lst[5][1]

6

In [17]:
lst[5][2]

7

In [18]:
lst.append("likin")

In [19]:
lst

['ashmitha', 'pasanna', 1, 2, 3.4, [5, 6, 7], 'likin']

In [21]:
lst.index("pasanna")

1

In [23]:
lst.index("ashmitha")

0

In [27]:
lst.index(3.4)

4

In [28]:
lst.index([5,6,7])

5

In [29]:
lst[-1]

'likin'

In [30]:
lst[-2][0]

5

# Dictionaries

In [31]:
dit={"name":"ashmitha","age":"20","number":123}
dit

{'name': 'ashmitha', 'age': '20', 'number': 123}

In [32]:
dit.get("name")

'ashmitha'

In [33]:
dit.items()

dict_items([('name', 'ashmitha'), ('age', '20'), ('number', 123)])

In [34]:
dit.keys()

dict_keys(['name', 'age', 'number'])

In [35]:
dit.pop("name")

'ashmitha'

In [36]:
dit.pop("age")

'20'

In [37]:
dit["College"]="NHCE"
dit

{'number': 123, 'College': 'NHCE'}

In [39]:
dit["Place"]="Bangalore"
dit

{'number': 123, 'College': 'NHCE', 'Place': 'Bangalore'}

# Sets

In [41]:
st = {"ashmitha","pasanna",1,2,1,3,1,5.3,2}
st

{1, 2, 3, 5.3, 'ashmitha', 'pasanna'}

In [43]:
st1={"sjhdh"}
st.issubset(st1)

False

In [45]:
st1={"pasanna"}
st1.issubset(st)

True

# Tuple

In [46]:
tup={"ashmitha","@","gmail.com"}
tup

{'@', 'ashmitha', 'gmail.com'}

# Boolean

In [48]:
abc=True
xyz=False
abc

True